@font-face {
  font-family: 'Noto Kufi Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Kufi Regular'), url('../../assets/fonts/NotoKufiArabic.woff') format('woff');
}
@font-face {
  font-family: 'Noto Kufi Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Kufi Bold'), url('../../assets/fonts/NotoKufiArabic-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Noto Nash Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Nash Regular'), url('../../assets/fonts/NotoNaskhArabic.woff') format('woff');
}
@font-face {
  font-family: 'Noto Nash Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Nash Bold'), url('../../assets/fonts/NotoNaskhArabic-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Arabic Kufi'), url('../../assets/fonts/DroidArabicKufi.woff') format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Serif'), url('../../assets/fonts/NotoSerif.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans'), url('../../assets/fonts/NotoSans.woff') format('woff');
}
@font-face {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans'), url('../../assets/fonts/Georgia-Bold.woff') format('woff');
}
$font--NotoKufiRegular: 'Noto Kufi Regular', sans-serif;
$font--NotoKufiBold: 'Noto Kufi Bold', sans-serif;
$font--NotoNashRegular: 'Noto Nash Regular', sans-serif;
$font--NotoNashBold: 'Noto Nash Bold', sans-serif;
$font--NotoSerif: 'Noto Serif', sans-serif;
$font--NotoSans: 'Noto Sans', sans-serif;
$font--DroidArabicKufi: 'Droid Arabic Kufi', sans-serif;
$font--Georgia: 'Georgia Bold',Times,Times New Roman,serif;
$font--Arial: 'arial', sans-serif;

html {
  font-size: $base__font-size;
  font-family: $font--NotoNashRegular;
  color: #4c4c4c;
  @include bp(mobileSmall) {
    font-size: $base__font-size / 1.5;
  }
}