$icomoon-font-path: "../../../assets/fonts/svg-fonts" !default;

$icon--abrookamoon-logo: "\e900";
$icon--arrow: "\e901";
$icon--facebook: "\e902";
$icon--google-plus: "\e903";
$icon--instagram: "\e904";
$icon--search: "\e905";
$icon--transfer: "\e906";
$icon--twitter: "\e907";

