%button-style {
  text-align: center;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  color: $color--button-link;
  background-color: $color--button-background;
  display: inline-block;
  min-width: cr(107px);
  padding: cr(15px) cr(25px);
}
.b-button {
  @extend %button-style;
  font-family: $font--NotoKufiRegular;
  font-size: 16px;
  @include bp(mobile) {
    font-size: cr(18px);
  }
}